{% extends "base.html" %}
{% block title %} Agent Assignment {% endblock %}

{% block content %}

<script>
    let china_info = {{china | tojson}}
    let coalition_info = {{coalition | tojson}}
    let row_info = {}

    function checkAssignmentConditions(){
        console.log(row_info)
        var all_rows_correct = true;
        var save_button = document.getElementById('save-assignment');
        Object.keys(row_info).forEach(key => {
            var row_correct = true;
            var row = row_info[key];
            var row_sum = 0;

            for (var i = 1; i < row.cells.length; i++){
                var cell = row.cells[i].children.item(0);
                row_sum += parseFloat(cell.value);
            }


            if (row_sum > 1) {
                row_correct = false;
                all_rows_correct = false;
            }

            if (!row_correct){
                save_button.disabled = true;
                for (var i = 1; i < row.cells.length; i++){
                    var cell = row.cells[i];
                    cell.style.backgroundColor = "red";
                }
                return;
            }
            else {
                for (var i = 1; i < row.cells.length; i++){
                    var cell = row.cells[i];
                    cell.style.backgroundColor = "";
                }
            }
        });

        if (all_rows_correct){
            save_button.disabled = false;
        }
    }
</script>
<div>
    <div class="zone-map-container">
        <br>
        <img src="static/assets/zones.png" width="700" height="700">
        <br>
        <br>
        <div style="margin-left: 200px">
            (A) All Zones <br>
            (B) Taiwanese Contiguous Zone <br>
            (C) Taiwanese Territorial Waters <br>
            (D) Japanese Contiguous Zone <br>
            (E) Japanese Territorial Waters <br>
            (F) Filipino Contiguous Zone <br>
            (G) Filipino Territorial Waters <br>
            (H) Outside Chinese 10 Dash, not in B-G <br>
            (I) Inside Chinese 10 Dash, outside B-G <br>
            (J) Between Philippines and Taiwan <br>
            (K) Between Japan and Taiwan <br>
            (L) Within median line <br>
            (N) Holding Area <br>
            (P) Primary Hunting Grounds <br>
            (Q) Outer Japan <br>
        </div>
        <br>
    </div>

    <div class="right-shifted-centered-container">
        <h5 align="center">Agent Assignment</h5>

        <form method="POST">
            <h6 align="center">Chinese Agents</h6>
            <h6 align="center">
                Enter as a percentage of share in assigned zone. Rows have to be less than 1 in total. <br>
                Rows less than 1 will have reduced utilisation for the agent corresponding to the total percentage.
            </h6>
            <div class="table-container">
            </div>
            <script src="{{ url_for('static', filename='china_table.js') }}" defer>
            </script>

            <br>
            <h6 align="center">Coalition Agents</h6>

            <div class="table-container">
            </div>
            <script src="{{ url_for('static', filename='coalition_table.js') }}" defer>
            </script>

            <br>
            <br>

            <button type="submit" class="btn btn-primary" id="save-assignment">
                Save
            </button>
            <div id="success-popup" class="success-popup">Saved Settings</div>
        </form>
        <br>
        <script>
            var update = {{update | tojson}}
            if (update) {
                confirmUpdate();
            }
        </script>

    </div>
</div>

{% endblock %}

