{% extends "base.html" %}
{% block title %} Agent Assignment {% endblock %}

{% block content %}

<script>
    let china_info = {{china | tojson}}
    let coalition_info = {{coalition | tojson}}
    let row_info = {}

    function checkAssignmentConditions(){
        console.log(row_info)
        var all_rows_correct = true;
        var save_button = document.getElementById('save-assignment');
        Object.keys(row_info).forEach(key => {
            var row_correct = true;
            var row = row_info[key];
            var row_sum = 0;

            for (var i = 1; i < row.cells.length; i++){
                var cell = row.cells[i].children.item(0);
                row_sum += parseFloat(cell.value);
            }


            if (row_sum != 1 & row_sum != 0) {
                row_correct = false;
                all_rows_correct = false;
                console.log("Row is", row, " - Sum is ", row_sum, " - length: ", row.cells.length);
            }

            if (!row_correct){
                save_button.disabled = true;
                for (var i = 1; i < row.cells.length; i++){
                    var cell = row.cells[i];
                    cell.style.backgroundColor = "red";
                }
                return;
            }
            else {
                for (var i = 1; i < row.cells.length; i++){
                    var cell = row.cells[i];
                    cell.style.backgroundColor = "";
                }
            }
        });

        if (all_rows_correct){
            save_button.disabled = false;
        }
    }
</script>

<div class="centered-container">
    <h5 align="center">Agent Assignment</h5>

    <form method="POST">
        <h6 align="center">Chinese Agents</h6>
        <h6 align="center">
            Enter as a percentage of share in assigned zone. Rows have to add up to 1 or 0 if the agent type is inactive.
        </h6>
        <div class="table-container">
        </div>
        <script src="{{ url_for('static', filename='china_table.js') }}" defer>
        </script>

        <br>
        <h6 align="center">Coalition Agents</h6>

        <div class="table-container">
        </div>
        <script src="{{ url_for('static', filename='coalition_table.js') }}" defer>
        </script>

        <br>
        <br>

        <button type="submit" class="btn btn-primary" id="save-assignment">
            Save
        </button>
        <div id="success-popup" class="success-popup">Saved Settings</div>
    </form>

    <br>
    <br>
    <br>
    <br>
    <br>

    <script>
        var update = {{update | tojson}}
        if (update) {
            confirmUpdate();
        }
    </script>

</div>

{% endblock %}

