{% extends "base.html" %}
{% block title %} Order of Battle {% endblock %}

{% block content %}

<script>
    current_oob = {{ merchant_info | tojson }}
    country_info = {{ country_info | tojson }}
</script>

<div class="centered-container">
    <h5 align="center">Order of Battle</h5>



    <form method="POST">
        <h6 align="center">Weekly Arrivals</h6>
        <div class="table-container">

        </div>
        <script src="{{ url_for('static', filename='oob_table.js') }}" defer>
        </script>

        <br>
        <br>

        <h6 align="center">Country Distribution</h6>
        <div align="center">
            Use the sliders to assign the fraction of the merchants coming from each respective country.
            The values will normalise automatically upon saving. <br>
        </div>
        <br>
        <div class="table-container">

        </div>
        <script src="{{ url_for('static', filename='country_dist_table.js') }}" defer>
        </script>

        <br>
        <br>

        <button type="submit" class="btn btn-primary">
            Save
        </button>
        <div id="success-popup" class="success-popup">Saved Settings</div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <script>
            var update = {{update | tojson}}
            if (update) {
                confirmUpdate();
            }
        </script>
    </form>

</div>

{% endblock %}
