{% extends "base.html" %}
{% block title %} Simulation {% endblock %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/7.0.0/pixi.min.js"></script>

<script>
    let landmasses = {{plot_polygons | tojson}};
    let bases = {{ plot_bases | tojson }};
    let min_lon = {{ min_lon }};
    let max_lon = {{ max_lon }};
    let min_lat = {{ min_lat }};
    let max_lat = {{ max_lat }};
    let agent_data = {{ agents | tojson }};
    let time_delta  = {{ time_delta }};
    let end_time = {{ max_time }};
    let running = {{ running | tojson }};
</script>

<script src="{{ url_for('static', filename='simulation.js') }}" defer>
</script>


<div class="wide-centered-container">
    <h4 align="center"> Simulation </h4>
<!--  Left Div  -->
    <div class="left-container">
        <div class="simulation-container">
        </div>
    </div>
<!--  Right Div  -->
    <div class="right-container">
        <span>
            <button type="submit" class="btn btn-primary" onclick="startSimulation()" id="start-button">
            Start Simulation
            </button>
            <span style="padding-left: 30px; vertical-align:middle;">
            World Time:
                <input
                type="number"
                id="world_time_select"
                class="select-number"
                name="world_time_select"
                placeholder="0"
                value="0"
                min="-168"
                max="{{ end_time | safe }}"
                step="{{ time_delta | safe }}"
                onchange="requestTimestampUpdate()">

            </span>

            <span style="padding-left: 30px; vertical-align:middle;">
                <button onclick="toggleZoom()" id="zoom-button">Zoom In</button>
            </span>

        </span>

        <br>
        <br>

        <h6 align="left">Logs</h6>

        <textarea id="sim-logs" autofocus readonly class="logs"></textarea>

        <br>

        <div id="number-logs">
            <h6></h6>

            <div style="margin-bottom:8px">
                <b>Merchants</b> <br>
                <span id="merchant-log-seized" class="display-number">0</span> Seized<br>
                <span id="merchant-log-destroyed" class="display-number">0</span> Destroyed<br>
                <span id="merchant-log-damaged" class="display-number">0</span> Damaged<br>
                <span id="merchant-log-arrived" class="display-number">0</span> Arrived<br>
            </div>

            <div style="margin-bottom:8px">
                <b>Coalition</b> <br>
                <span id="escorts-log-destroyed" class="display-number">0</span> Escorts Destroyed<br>
                <span id="aircraft-log-destroyed" class="display-number">0</span> Aircraft Destroyed<br>
                <span id="submarines-log-destroyed" class="display-number">0</span> Subs Destroyed<br>
                <span id="escorts-log-deterred" class="display-number">0</span> Hunters Deterred<br>
            </div>

            <div style="margin-bottom:8px">
                <b>China</b> <br>
                <span id="hunters-log-destroyed" class="display-number">0</span> Hunters Destroyed<br>
                <span id="cn-aircraft-log-destroyed" class="display-number">0</span> Aircraft Destroyed<br>
                <span id="cn-submarines-log-destroyed" class="display-number">0</span> Subs Destroyed<br>
            </div>
        </div>

    </div>
</div>


{% endblock %}
