{% extends "base.html" %}
{% block title %} Simulation {% endblock %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/7.0.0/pixi.min.js"></script>

<script>
    let landmasses = {{plot_polygons | tojson}};
    let bases = {{ plot_bases | tojson }};
    let min_lon = {{ min_lon }};
    let max_lon = {{ max_lon }};
    let min_lat = {{ min_lat }};
    let max_lat = {{ max_lat }};
    let agent_data = {{ agents | tojson }};
    let time_delta  = {{ time_delta }};
    let end_time = {{ max_time }};
</script>

<script src="{{ url_for('static', filename='simulation.js') }}" defer>
</script>


<div class="wide-centered-container">
    <h4 align="center"> Simulation </h4>
<!--  Left Div  -->
    <div class="left-container">
        World Time:
        <input
            type="number"
            id="world_time_select"
            class="select-number"
            name="world_time_select"
            placeholder="0"
            value="0"
            min="0"
            max="{{ end_time | safe }}"
            step="{{ time_delta | safe }}"
            onchange="requestTimestampUpdate()"
        >
        <br>
        <br>
        <div class="simulation-container">
        </div>
        <br>
        <br>

    </div>
<!--  Right Div  -->
    <div class="right-container">
        <button type="submit" class="btn btn-primary" onclick="startSimulation()" id="start-button">
        Start Simulation
        </button>

        <br>
        <br>

        <h6 align="left">Logs</h6>

        <textarea id="sim-logs" autofocus readonly class="logs"></textarea>

        <br>

        <div id="number-logs">
            <h6></h6>

            <b>Merchants</b> <br>
            <p id="merchant-log-seized" class="display-number">0</p> Merchants Seized<br>
            <span id="merchant-log-sunk" class="display-number">0</span> Merchants Sunk<br>
            <span id="merchant-log-damaged" class="display-number">0</span> Merchants Damaged<br>
            <span id="merchant-log-arrived" class="display-number">0</span> Merchants Arrived<br>
            <br>

            <b>Escorts</b> <br>
            <span id="escorts-log-sunk" class="display-number">0</span> Escorts Sunk<br>
            <span id="escorts-log-damaged" class="display-number">0</span> Escorts Damaged<br>
            <span id="escorts-log-deterred" class="display-number">0</span> Hunters Deterred<br>
            <br>

            <b>Hunters</b> <br>
            <span id="hunters-log-sunk" class="display-number">0</span> Hunters Destroyed<br>
            <span id="hunters-log-damaged" class="display-number">0</span> Hunters Damaged<br>
        </div>

    </div>
</div>


{% endblock %}
