
/* || PAGE STYLING */

.centered-container {
  margin: auto;
  width: 1000px;
  background-color: #f5f5f5;
  padding: 30px 100px 0 100px;
}

.right-shifted-centered-container {
  float: center;
  margin-left: 700px;
  width: 1200px;
  background-color: #f5f5f5;
  padding: 30px 50px 400px 100px;
}

.zone-map-container {
  width: 800px;
  background-color: #f5f5f5;
  float: left;
  padding-left: 30px;
  padding-bottom: 120px;
  padding-right: 40px;
  padding-top: 20px;
}

.larger-centered-container {
  margin: auto;
  width: 1600px;
  background-color: #f5f5f5;
  padding: 30px 100px 0 100px;
}

.wide-centered-container {
  margin: auto;
  width: 100%;
  overflow: hidden;
  background-color: #f5f5f5;
  padding: 10px 0px 0 5px;
}

.left-container {
  width: 68%;
  background-color: #f5f5f5;
  padding: 10px 0px 0px 0px;
  float: left;
}

.right-container {
  margin: auto;
  width: 32%;
  background-color: #f5f5f5;
  padding: 10px 50px 0px 40px;
  margin-left: 68%;
}

.smaller-centered-container {
  margin: auto;
  width: 450px;
  background-color: #f5f5f5;
  padding: 30px;
}

.success-popup {
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    display: none;
    font-size: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }



.spaced-selector {
    margin-left: 10px;
    margin-right: 10px;
}

/* || Custom Selection Tables */

.standard-table {
    border-collapse: collapse;
}
.standard-table th, .CN-table td {
    border: 1px solid black;
}

.standard-table th {
    text-align: center;
    height: 30px;
    background-color: #04AA6D;
    color: white;
}

.standard-table tbody tr:nth-child(odd) {
    background: #ffffff;
    height: 20px;
}

.standard-table tbody tr:nth-child(even) {
    background: #f4f4f4;
    height: 20px;
}


/* || Simulation Page */

.simulation-container {
    width: 100%;
    align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.logs {
    width: 550px;
    height: 250px;
    padding: 6px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.select-number{
    width: 80px;
}

.display-number{
    display: inline-block;
    width: 35px;
    border: 2px solid #383c44;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #383c44;

    text-align: right;
    color: #ffffff;
    -webkit-appearance: none;

    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 4px;
    margin-bottom: 3px;
}

/* || Statistics Page */
.turn-losses-figure{
  width: 50%;
  height: 500px;
  background-color: #f5f5f5;
  padding: 10px 0px 0px 0px;
  float: left;
}

.country-losses-figure{
  width: 50%;
  height: 500px;
  background-color: #f5f5f5;
  padding: 10px 0px 0px 0px;
  float: right;
}

.losses-cause-selection{
  width: 40%;
  height: 500px;
  background-color: #f5f5f5;
  padding: 10px 0px 0px 0px;
  float: left;
}

.target-selector{
  width: 50%;
  background-color: #f5f5f5;
  padding: 10px 0px 0px 0px;
  float: right;

}

.attacker-selector{
  width: 50%;
  background-color: #f5f5f5;
  padding: 10px 0px 0px 0px;
  float: left;

}

.losses-cause-figure{
  width: 60%;
  height: 500px;
  background-color: #f5f5f5;
  padding: 10px 50px 0px 0px;
  float: right;
}

.relating-logs{
  background-color: #f5f5f5;
  width: 800px;
  padding-bottom: 50px;
}

.filtered-sim-logs {
    width: 800px;
    height: 250px;
    padding: 6px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}